  
  .loginContainers {  display: grid;
    grid-template-columns: 0.35fr 1.19fr 0.02fr 1.19fr 0.35fr;
    grid-template-rows: 0.5fr 3fr 5fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      " . . . . ."
      ". LogoLogin LogoLogin LogoLogin ."
      ". memberLogin . NonMemLogin ."
      " . login-hr login-hr login-hr ."
      " . SignUpButton SignUpButton SignUpButton .";
  }
  
  .memberLogin { grid-area: memberLogin; border: 1px solid gainsboro;}
  .NonMemLogin { grid-area: NonMemLogin; border: 1px solid gainsboro;}
  .LogoLogin { grid-area: LogoLogin; }
  .SignUpButton { grid-area: SignUpButton; }
  .login-hr { grid-area: login-hr;}
  
.LogoLogin-top {
    width: 30%
}

.Login-bottom {
    width: 75%;
    text-align: center;
}

.SignUp-bottom {
    width: 75%
}

.loginHr{
    width: 75%;
    border: thin solid red;
}


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 20%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 20%;
    background: #37003E;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #37003E;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #37003E;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #37003E;
    font-weight: 600;
    text-decoration: none;
}