@charset "UTF-8";

a,
address,
blockquote,
body,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
label,
li,
ol,
p,
pre,
select,
span,
strong,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ol,
ul {
    list-style: none
}

table {
    border-spacing: 0;
    border: 0
}

button,
img,
input,
select,
textarea {
    border: 0;
    vertical-align: top;
    color: #666
}

a {
    color: #666;
    text-decoration: none
}

caption {
    width: 0;
    height: 0;
    text-indent: -9999px
}

button,
input.button,
input.image,
input.submit,
label {
    cursor: pointer
}

#Container,
#Footer,
#Header,
#Wrapper {
    width: 100%;
    min-width: 1020px
}

#Container {
    overflow: hidden
}

#Container.bgf6 {
    background-color: #f6f6f6
}

#Contents {
    width: 1020px;
    height: 100%;
    margin: 0 auto
}

button,
input[type=submit] {
    font-family: Montserrat, -apple-system, NotoSansCJKkr, AppleSDGothicNeo, Roboto, sans-serif;
    font-weight: 700
}

.pdB30 {
    padding-bottom: 30px !important
}

button,
input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer
}

button {
    text-align: center;
    color: #fff
}

.TabsConts {
    display: none
}

.TabsConts.on {
    display: block
}

.comm1sTabs {
    overflow: hidden;
    width: 100%;
    margin: 15px 0 0
}

.comm1sTabs.threeSet li {
    width: 33.5%
}

.comm1sTabs.threeSet li:first-child {
    width: 33%
}

.comm1sTabs>li {
    float: left;
    width: 50%;
    border-left: 1px solid #e3e3e3;
    border-bottom: 2px solid #9bce26;
    text-align: center;
    background: #f6f6f6
}

.comm1sTabs>li:first-child {
    border-left: 0
}

.comm1sTabs>li>a {
    display: block;
    height: 50px;
    padding-top: 15px;
    color: #333;
    font-size: 18px
}

.comm1sTabs>li.on {
    border-left: 2px solid #9bce26;
    border-top: 2px solid #9bce26;
    border-right: 2px solid #9bce26;
    border-bottom: 0;
    background: #fff
}

.comm1sTabs>li.on>a {
    padding-top: 13px
}

.comm2sTabs {
    overflow: hidden;
    width: 100%;
    margin-top: 30px
}

.comm2sTabs>li {
    float: left;
    width: 50%;
    height: 40px;
    margin: 0 0 0 -1px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd
}

.comm2sTabs>li:first-child {
    margin: 0
}

.comm2sTabs>li>button {
    width: 100%;
    height: 38px;
    color: #666;
    background: #fff;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px
}

.comm2sTabs>li.on {
    border: 2px solid #9bce26;
    background: #9bce26
}

.comm2sTabs>li.on>button {
    height: 36px;
    background: #9bce26;
    color: #fff
}

.comm2sTabs.fourSet>li {
    width: 255px
}

.board-list-1s {
    table-layout: fixed;
    width: 1020px;
    margin: 0 auto;
    border-top: 2px solid #888
}

.board-list-1s thead tr th {
    padding: 22px 0 20px;
    border-bottom: 1px solid #888
}

.board-list-1s tr td {
    padding: 23px 0 24px;
    border-bottom: 1px solid #e6e6e6;
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle
}

.board-list-1s tr td.subject {
    position: relative;
    padding-left: 15px;
    text-align: left
}

.board-list-1s tr td.subject a {
    display: inline-block;
    max-width: 65%;
    color: #333;
    vertical-align: middle
}

.board-list-1s tr td.subject strong {
    display: block;
    color: #333;
    font-size: 18px;
    line-height: 30px
}

.board-list-1s tr td a {
    display: inline-block
}

.board-list-1s tr td .FG01,
.board-list-1s tr td .FG02,
.board-list-1s tr td .FG03,
.board-list-1s tr td .FG04 {
    position: relative;
    top: -1px;
    margin: 0 15px 0 0
}

.board-list-1s tr.notice_fix td.subject a,
.board-list-1s tr.notice_fix td:first-child {
    font-weight: 700
}

.board-list-1s tr.notice_fix+tr.notice_fix td {
    border-top: none !important
}

.pageing {
    padding: 30px 0 0;
    font-size: 0;
    text-align: center;
    line-height: 0
}

.pageing a,
.pageing strong {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border: 1px solid #e5e5e5;
    color: #888;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
    box-sizing: border-box;
    font-weight: 700
}

.pageing a {
    text-decoration: none
}

.pageing a:active,
.pageing a:focus,
.pageing a:hover,
.pageing strong,
.pageing strong:active,
.pageing strong:focus,
.pageing strong:hover {
    border: 1px solid #666;
    color: #333;
    font-weight: 700
}

.sub_title_area {
    width: 100%;
    height: 120px
}

.sub_title_area h1 {
    padding: 38px 0 0;
    font-size: 40px;
    color: #000;
    line-height: 44px
}

.sub_title_area h1>span {
    color: #333;
    font-size: 18px;
    margin-left: 5px;
    font-weight: 400
}

.sub_title_area:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 120px;
    z-index: -1
}

.sub_title_area.customer {
    height: 100px;
    background: url("https://static.oliveyoung.co.kr/pc-static-root/image/top/bg_customer_top.png") 50% 0 no-repeat #faeee1
}

.sub_title_area.customer:before {
    height: 100px;
    background: #faeee1
}

.sub_title_area.customer h1 {
    float: left;
    padding: 28px 0 0
}

.comm1sTabs.customer {
    overflow: hidden;
    height: 55px;
    margin: 30px 0 0;
    padding-bottom: 5px
}

.comm1sTabs.customer>li {
    position: relative;
    float: left;
    width: 340px;
    text-align: center;
    border: 0
}

.comm1sTabs.customer>li+li {
    width: 341px;
    margin-left: -1px
}

.comm1sTabs.customer>li>a {
    display: block;
    height: 50px;
    padding: 0;
    line-height: 50px;
    background: #f6f6f6;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    border-left: 1px solid #e6e6e6
}

.comm1sTabs.customer>li.on>a {
    background: #555 !important;
    color: #fff;
    border: 0
}


