@charset "UTF-8";

body,
html {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    word-spacing: -1px;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    font-family: Montserrat, -apple-system, NotoSansCJKkr, AppleSDGothicNeo, Roboto, dotum, "돋움", sans-serif;
    letter-spacing: -.04em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

a,
address,
blockquote,
body,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
label,
li,
ol,
p,
pre,
select,
span,
strong,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

ol,
ul {
    list-style: none
}

button,
img,
input,
select,
textarea {
    border: 0;
    vertical-align: top;
    color: #666
}

legend {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    z-index: -1
}

a {
    color: #666;
    text-decoration: none
}

button,
input.button,
input.image,
input.submit,
label {
    cursor: pointer
}

#Container,
#Footer,
#Header,
#Wrapper {
    width: 100%;
    min-width: 1020px
}

#Container {
    overflow: hidden
}

#Contents {
    width: 1020px;
    height: 100%;
    margin: 0 auto
}

button,
input[type=submit] {
    font-family: Montserrat, -apple-system, NotoSansCJKkr, AppleSDGothicNeo, Roboto, sans-serif;
    font-weight: 700
}

.mgT30 {
    margin-top: 30px !important
}

.pdT30 {
    padding-top: 30px !important
}

button,
input[type=submit] {
    border: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer
}

select {
    width: 100%;
    height: 38px;
    padding: 0 0 0 8px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #333
}

button {
    text-align: center;
    color: #fff
}

.btnGreen,
a.btnGreen {
    width: 100%;
    height: 50px;
    background-color: #37003E;
    padding: 11px 0 9px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px
}

.area1sButton {
    padding: 10px 0 0;
    text-align: center
}

.comm1sTabs {
    overflow: hidden;
    width: 100%;
    margin: 15px 0 0
}

.comm1sTabs.threeSet li:first-child {
    width: 33%
}

.comm1sTabs>li {
    float: left;
    width: 50%;
    border-left: 1px solid #e3e3e3;
    border-bottom: 2px solid #9bce26;
    text-align: center;
    background: #f6f6f6
}

.comm1sTabs>li>a {
    display: block;
    height: 50px;
    padding-top: 15px;
    color: #333;
    font-size: 18px
}

.comm1sTabs>li.on {
    border-left: 2px solid #9bce26;
    border-top: 2px solid #9bce26;
    border-right: 2px solid #9bce26;
    border-bottom: 0;
    background: #fff
}

.comm1sTabs>li.on+li {
    border-left: 0
}

li.nodata,
td.nodata {
    width: 100% !important;
    padding: 200px 15px 80px !important;
    background: url(/pc-static-root/image/comm/ico_nodata104x104.png) center 80px no-repeat !important;
    color: #888 !important;
    font-size: 16px !important;
    text-align: center !important;
    line-height: 20px !important
}

.pageing {
    padding: 30px 0 0;
    font-size: 0;
    text-align: center;
    line-height: 0
}

.sub_title_area {
    width: 100%;
    height: 120px
}

.sub_title_area h1 {
    padding: 38px 0 0;
    font-size: 40px;
    color: #000;
    line-height: 44px
}

.sub_title_area h1>span {
    color: #333;
    font-size: 18px;
    margin-left: 5px;
    font-weight: 400
}

.sub_title_area.customer {
    height: 100px;
    background: url(/pc-static-root/image/top/bg_customer_top.png) 50% 0 no-repeat #faeee1
}

.sub_title_area.customer:after {
    content: "";
    display: block;
    clear: both
}

.sub_title_area.customer h1 {
    float: left;
    padding: 28px 0 0
}

.sub_title_area.customer button.btn_inquiry {
    float: right;
    width: 190px;
    height: 48px;
    margin-top: 26px;
    padding-left: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    background: url(/pc-static-root/image/comm/ico_inquiry2.png) 37px 13px no-repeat #f27370;
    border-radius: 24px
}

.sub_title_area.customer button.btn_inquiry>em {
    font-style: normal;
    font-size: 14px;
    font-weight: 400
}

.sub_title_area.customer+.info_area {
    font-family: -apple-system, NotoSansCJKkr, AppleSDGothicNeo, Roboto, dotum, "돋움", sans-serif;
    font-size: 14px;
    color: #757d86;
    letter-spacing: 0;
    line-height: 20.5px;
    text-align: center;
    padding: 0px 0 0px
}

.comm1sTabs.customer {
    overflow: hidden;
    height: 55px;
    margin: 30px 0 0;
    padding-bottom: 5px
}

.comm1sTabs.customer>li {
    position: relative;
    float: left;
    width: 340px;
    text-align: center;
    border: 0
}

.comm1sTabs.customer>li+li {
    width: 341px;
    margin-left: -1px
}

.comm1sTabs.customer>li>a {
    display: block;
    height: 50px;
    padding: 0;
    line-height: 50px;
    background: #f6f6f6;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    border-left: 1px solid #e6e6e6
}

.comm1sTabs.customer>li:first-child>a {
    border: 0
}

.comm1sTabs.customer>li.on>a {
    background: #555 !important;
    color: #fff;
    border: 0
}

.comm1sTabs.customer>li.on:before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    width: 12px;
    height: 5px;
    margin-left: -6px;
    background: url(/pc-static-root/image/comm/bg_tab_arrow.png) no-repeat
}

.comm1sTabs.customer+.search-period {
    margin-top: 35px !important
}

.list-customer {
    width: 1020px;
    margin: 0 auto
}

.list-customer ul {
    overflow: hidden;
    width: 100%;
    border-top: 2px solid #888
}

.list-customer ul li {
    padding: 0;
    background: url(/pc-static-root/image/comm/ico_arrow21x12_off.png) 98% 24px no-repeat;
    border-bottom: 1px solid #e6e6e6
}

.list-customer ul li.nodata {
    padding: 200px 15px 80px;
    background: url(/pc-static-root/image/comm/ico_nodata104x104.png) center 80px no-repeat;
    color: #888;
    font-size: 16px;
    text-align: center;
    line-height: 20px
}

.list-customer.onenone {
    margin-top: 20px
}

.search-period {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0 0;
    padding: 20px;
    background: #fafafa;
    box-sizing: border-box;
    border-radius: 5px
}

.search-period .select-month {
    overflow: hidden
}

.search-period .select_con li {
    float: left;
    width: auto;
    height: 28px;
    margin-left: 4px;
    font-size: 0;
    line-height: 0
}

.search-period .select_con li:first-child {
    margin-left: 0
}

.search-period .select_con button {
    width: 100%;
    height: 28px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
    color: #222;
    font-size: 12px;
    font-weight: 400
}

.search-period .select_con ul li:first-child button {
    margin-left: 0
}

.search-period .select_con li.on button {
    border: 1px solid #555;
    background: #555;
    color: #fff
}

.search-period .select-range {
    float: left;
    padding: 10px 0 0;
    line-height: 38px
}

.search-period .select-range select {
    height: 28px;
    padding-right: 0;
    color: #222;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle
}

.search-period .select-range label {
    display: inline-block;
    margin: 0 11px 0 1px;
    color: #222;
    font-size: 12px;
    line-height: 16px
}

.search-period .select-range .des {
    margin: 0 15px 0 10px
}

.search-period button.btnLookup,
.search-period input[type=submit] {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 85px;
    height: 100%;
    background: #37003E;
    border-radius: -4 5px 5px 0;
    color: #fff;
    font-size: 12px;
    line-height: 22px
}

.search-period.mgT30 {
    margin-top: 20px !important
}

.search-period .select_con {
    margin-bottom: 14px
}

.search-period .select_con p {
    float: left;
    margin-right: 20px;
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.48px
}

.area1sButton a.btnGray,
.area1sButton a.btnGray2,
.area1sButton a.btnGreen,
.area1sButton a.btnGreen3,
.area1sButton a.btnGreenW {
    display: inline-block;
    width: 150px;
    margin: 0 2px;
    box-sizing: border-box
}

.area1sButton a.btnGray,
.area1sButton a.btnGray2,
.area1sButton a.btnGreen,
.area1sButton a.btnGreen3,
.area2sButton a.btnGray,
.area2sButton a.btnGray2,
.area2sButton a.btnGreen,
.area3sButton a.btnGray,
.area3sButton a.btnGray2,
.area3sButton a.btnGreen {
    color: #fff;
    font-weight: 700
}

.area1sButton a {
    padding: 9px 0 0
}

.sub_title_area:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 120px;
    z-index: -1
}

.sub_title_area.customer:before {
    height: 100px;
    background: #faeee1
}